bookfiles/*.pdf
bookfiles/*.epub
data/*.json
.vscode/
__pycache__/
bookfiles/covers/normal_cover/*.jpg
bookfiles/covers/normal_cover/*.png

bookfiles/covers/local_cover/*.jpg
bookfiles/covers/local_cover/*.png