bookfiles/*.pdf
bookfiles/*.epub
bookfiles/*.tmp
bookfiles/*.zip
data/*.json
.vscode/
__pycache__/
bookfiles/covers/normal_cover/*.jpg
bookfiles/covers/normal_cover/*.png
bookfiles/covers/normal_cover/*.gif
bookfiles/covers/local_cover/*.jpg
bookfiles/covers/local_cover/*.png